DerivedData/
fastlane/test_output/
**/collate_errors.xcodeproj/project.xcworkspace/xcuserdata/**
**/collate_errors.xcodeproj/xcshareddata/**
.bundle/
.byebug_history
vendor/**
**collate_errors.xcodeproj/xcshareddata**
